{% extends 'base.html.twig' %}

{% block title %}Missions{% endblock %}

{% block body %}
    <h1 class="mission-title">Missions</h1>

        {% for mission in missions %}
<div class="mission-list">
<div class="card" style="width: 18rem;">
  <img src="{{ vich_uploader_asset(mission, 'imageFile') | imagine_filter('thumb')}}" class="card-img-top">
  <div class="card-body">
    <h5 class="card-title">{{ mission.title }}</h5>
    <p class="card-text"> {{ mission.country }} </p>
    <p class="card-text">{{ mission.description | nl2br }}</p>
    <p class="card-text"> {{ mission.statut }} </p>
    <a href="{{ path('app_missions_show', {'id': mission.id}) }}" class="btn btn-primary">Détails</a>
  </div>
</div>
</div>

            
                 
        {% endfor %}
{% endblock %}
