{% extends 'base.html.twig' %}

{% block title %}Missions{% endblock %}

{% block body %}
    <h1>Missions</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Photo</th>
                <th>Title</th>
                <th>Description</th>
                <th>Country</th>
                <th>Statut</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for mission in missions %}
            <tr>
                <td><img src="{{ vich_uploader_asset(mission, 'imageFile') | imagine_filter('thumb')}}"></td>
                <td>{{ mission.title }}</td>
                <td>{{ mission.description }}</td>
                <td>{{ mission.country }}</td>
                <td>{{ mission.statut }}</td>
                <td>
                    <a href="{{ path('app_missions_show', {'id': mission.id}) }}">show</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
