{% extends 'base.html.twig' %}

{% block title %}Missions{% endblock %}

{% block body %}
    <h1>Missions</h1>

    <table class="table table-dark table-striped">
        <tbody>
            <tr>
                <th>Title</th>
                <td>{{ mission.title }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ mission.description }}</td>
            </tr>
            <tr>
                <th>Country</th>
                <td>{{ mission.country | country_name }}</td>
            </tr>
            <tr>
                <th>Statut</th>
                <td>
                    {{ form_start(form) }}
                        <div style="width: 50%;">{{ form_rest(form) }}</div>
                        <div class="text-start">
                            <button class="btn btn-primary">{{ button_label|default('Save') }}</button>
                        </div>
                        
                    {{ form_end(form) }}
                </td>
            </tr>
        </tbody>
    </table>
    <a class="btn btn-secondary ms-3" href="{{ path('app_missions') }}">Retour</a>
{% endblock %}
