{% extends 'base.html.twig' %}

{% block title %}Nouvelle Mission{% endblock %}

{% block body %}
    <h1>Créer une nouvelle Mission</h1>
<div class="container">
    {{ form_start(form) }}
        <div>{{ form_rest (form)}}</div>
        <div class="d-flex justify-content-evenly">
            <button class="btn">{{ button_label|default('Enregistrer') }}</button>
            <a href="{{ path('app_admin_missions_index') }}">Retour</a>
        </div>
    {{ form_end(form) }}  
</div>
{% endblock %}
