{% extends 'base.html.twig' %}

{% block title %}Nouvel Utilisateur{% endblock %}

{% block body %}
    <h1>Créer un nouvel Utilisateur</h1>
<div class="container">
    {{ form_start(form) }}
        <div>{{ form_rest (form)}}</div>
        <div class="d-flex justify-content-evenly">
            <button class="btn btn-primary mb-3">{{ button_label|default('Enregistrer') }}</button>
            <a class="btn btn-secondary mb-3" href="{{ path('app_admin_user_index') }}">Retour</a>
        </div>
    {{ form_end(form) }}  
</div>
{% endblock %}
